{% extends 'e_learn/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <h1>Change Password</h1>
{% endblock title %}

{% block card_header %}
<div class='card-header'>
    <i class="fas fa-table text-primary"></i>
    <span>You may change your password</span>
</div>
{% endblock card_header %}

{% block content %}
    <form action="" method="POST" novalidate>
        {% if non_field_errors %}
            {% for error in non_field_errors %}
                <p class='alert alert-warning'>{{error}}</p>
            {% endfor %}
        {% endif %}
        
        {% csrf_token %}
        {{form|crispy}}
        <button type='submit' class='btn btn-primary'>Change Password</button>
    </form>
{% endblock content %}
