{% extends 'e_learn/home.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center my-5">
    <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="{% static '/dist/img/login_2.png' %}" alt="Card image cap">
        <div class="card-body">
            <h4 class="mt-2 mb-3 text-center">Your Password has Changed Successfully !!!</h4>
            <hr>
            <div class='d-flex'>
                    <a href="{% url 'login' %}" class='text-primary text-bold'>Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}