{% extends 'e_learn/home.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center my-5">
    <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="{% static '/dist/img/login_2.png' %}" alt="Card image cap">
        <div class="card-body">
            <h2 class="mt-2 mb-3 text-center">Reset Password</h2>
            <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
            <h6>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
        </div>
    </div>
</div>
{% endblock content %}