{% extends 'e_learn/home.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
<div class="d-flex justify-content-center my-5">
    <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="{% static '/dist/img/login_2.png' %}" alt="Card image cap">
        <div class="card-body">
            <h2 class="mt-2 mb-3 text-center">Reset Password</h2>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class='alert alert-warning'>{{error}}</p>
            {% endfor %}
            {% endif %}
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{form|crispy}}
                <button type='submit' class="btn btn-primary btn-lg btn-block mb-2">Reset</button>
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock content %}